/* :root {
    --bgblue: #1F2330;
    --mgblue: #27273A;
    --white: #FFFFFF;
    --purple: #E7ADFB;
    --darkpink: #F36F98;
    --lightpink: #F3BBCC;
    --orange: #F8C273;
    --green: #97EE86;
    --lightblue: #7DF9F9;
    --gray: #B3B3B3;
  } */