.home{
    padding-left: 65px;
    padding-top: 20px;
}

.home .tabHeader {
    width: fit-content;
    background-color: var(--mgblue);
    color: var(--lightblue);
    padding-left: 20px;
    padding-right: 20px;
}

.home .tabHeader .img{
    padding-top: 10px;
    display: inline-block;
}

.home .tabHeader .img img{
    width: 20px;
}

.home .tabHeader .p{
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 10px;
}

.home .homePage {
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: row;
    background-color: var(--mgblue);
}

.home .homePage .intro {
    flex: 50%;
    padding-left: 30px;
}

.home .homePage .intro .innerText{
    padding:0 30px;
}

.home .homePage .intro .innerText p{
    text-justify: distribute;
}

.home .homePage .teleSticker{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .homePage .teleSticker img{
    width: 50%;
    padding: 20px;
}

.textGray{
    color: var(--gray);
}

.textPurple{
    color: var(--purple);
}

.textOrange{
    color: var(--orange);
}

.textDarkpink{
    color: var(--darkpink);
}

.textLightpink{
    color: var(--lightpink);
}

