:root {
  --bgblue: #1F2330;
  --mgblue: #27273A;
  --white: #FFFFFF;
  --purple: #E7ADFB;
  --darkpink: #F36F98;
  --lightpink: #F3BBCC;
  --orange: #F8C273;
  --green: #97EE86;
  --lightblue: #7DF9F9;
  --gray: #B3B3B3;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: var(--bgblue);
    display: flex;
    font-weight: bold;
    font-family: MonoLisa;
    flex-direction: row;
  }
  
  .navbar .navbar-container-left {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .navbar .navbar-container-left img{
      padding-right: 20px;
  }

  .navbar .navbar-container-mid {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }
  
  .navbar img {
    width: 25px;
  }
  
  .navbar .navbar-container-right {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .navbar .navbar-container-right-close {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
  }

  
  
  .navbar .navbar-container-right button {
    background-color: transparent;
    border: none;
    color: var(--bgblue);
    cursor: pointer;
    padding: 0 10px;
  }

  .navbar .navbar-container-right-close button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: none;
    width: 20px;
    height: 20px;
  }
  .navbar .navbar-container-right-close img {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: none;
    justify-self: right;
  }


  .navbar .navbar-container-right img {
    font-size: 40px;
  }

  
  
    #open {
        padding-left: 0px;
  }

    #close img {
        display: inherit;
  }
  
    #open {
        position: absolute;
        float: none;
        margin-top: 50px;
        display: block;
        text-align: center;
        background-color: var(--mgblue);
        width: 100%;
        align-items: center;
  }
  
    #close {
        display: none;
  }
  
    #open a {
        width: 100%;
        margin: 5px;
  }

  @media only screen and (max-width: 900px) {
    .navbar .navbar-container-right img {
        display: none;
    }

    .navbar .navbar-container-right {
        flex: 0%;
        display: none;
    }

    .navbar .navbar-container-left {
      padding-left: 20px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .navbar-container-right a {
      display: none;
      flex: 0%;
      padding-right: 0px;
    }

    .navbar .navbar-container-left a {
        display: none;
      }
  
    .navbar-container-right-close img{
        display: inherit;
    }

    .hiddenLinks a{
        width: 100%;
        float: none;
        padding: 10px 0;
        text-decoration: none;
        color: var(--white);
        flex-direction: column-reverse;
        display: block;
    }


    .navbar .navbar-container-right {
      display: none;
    }
  
    .navbar .navbar-container-right button {
      display: none;
    }

  }
  
  @media only screen and (min-width: 600px) {
    .navbar .navbar-container-right-close button {
      display: none;
    }

    .navbar .navbar-container-right-close {
        flex: 0%;
        display: none;
      }
  
    .hiddenLinks {
      display: none;
    }
  }