.work{
    padding-left: 65px;
    padding-top: 20px;
}

.work .tabHeader {
    width: fit-content;
    background-color: var(--mgblue);
    color: var(--lightblue);
    padding-left: 20px;
    padding-right: 20px;
}

.work .tabHeader .img{
    padding-top: 10px;
    display: inline-block;
}

.work .tabHeader .img img{
    width: 20px;
}

.work .tabHeader .p{
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 10px;
}

.work .workPage {
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: row;
    background-color: var(--mgblue);
}

.work .workPage .innerNav {
    flex: 50%;
    padding-left: 30px;
}

.work .workPage .innerNav {
    padding:30px 15px;
}

.work .workPage .innerNav a{
    padding:30px 15px;
    color: white;
    text-decoration:none;

}

.work .workPage .innerNav .activeLink{
    padding:30px 15px;
    color: var(--lightblue);
    text-decoration:underline;
    
}