@font-face {
    font-family: 'MonoLisa';
    font-weight: normal;
    src: local('MonoLisa'), url(./Assets/Font/MonoLisa-Regular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

@font-face {
font-family: 'MonoLisa';
font-weight: bold;
src: local('MonoLisa'), url(./Assets/Font/MonoLisa-Bold.otf) format('opentype');
/* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.App {
width: 100%;
height: auto;
display: flex;
flex-direction: column;
font-weight: normal;
font-family: MonoLisa;
font-size: large;
}

body {
padding: 0;
margin: 0;
background-color: var(--bgblue);
}

